In [1]:
import pandas as pd
import numpy as np

In [2]:
# load 2020 data
df_2020 = pd.read_csv('Calpine Data/Freestone_CTG1_2020.csv')
df_2020.head(20)

FileNotFoundError: [Errno 2] No such file or directory: 'Calpine Data/Freestone_CTG1_2020.csv'

In [37]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Turb Exh Ref Temp Deviation  1048575 non-null  object
 1   FR.FR.C0000184               1048575 non-null  object
 2   1/1/2020 0:00                1048575 non-null  object
 3   -18.87399999                 1048575 non-null  float64
 4   Unnamed: 4                   110264 non-null   float64
 5   FALSE                        221046 non-null   object
dtypes: float64(2), object(4)
memory usage: 48.0+ MB

In [40]:
# Added DateTime column
df_2020['DateTime'] = pd.to_datetime(df_2020['1/1/2020 0:00'])

In [41]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Turb Exh Ref Temp Deviation  1048575 non-null  object
 1   FR.FR.C0000184               1048575 non-null  object
 2   1/1/2020 0:00                1048575 non-null  object
 3   -18.87399999                 1048575 non-null  float64
 4   Unnamed: 4                   110264 non-null   float64
 5   FALSE                        221046 non-null   object
 6   DateTime                     1048575 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 56.0+ MB

In [42]:
#Set the DateTime column as the index
df_2020.set_index(['DateTime'], inplace=True)
df_2020.head()

,Turb Exh Ref Temp Deviation,FR.FR.C0000184,1/1/2020 0:00,-18.87399999,Unnamed: 4,FALSE
DateTime,,,,,,
2020-01-01,Cooling Status,FR.FR.C0001131,1/1/2020 0:00,0.000000,NaN,False
2020-01-01,Load Type,FR.FR.C3000000,1/1/2020 0:00,2.000000,NaN,False
2020-01-01,Fuel Gas Energy Flow Ref,POD.MODEL.00040142,1/1/2020 0:00,1774.426690,34.442643,True
2020-01-01,Fuel Stroke Ref,FR.FR.00005522,1/1/2020 0:00,77.921725,NaN,NaN
2020-01-01,Fuel Gas Mass Flow - Raw,FR.FR.00005514,1/1/2020 0:00,21.318408,NaN,NaN

In [43]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1048575 entries, 2020-01-01 00:00:00 to 2020-07-22 00:30:00
Data columns (total 6 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Turb Exh Ref Temp Deviation  1048575 non-null  object
 1   FR.FR.C0000184               1048575 non-null  object
 2   1/1/2020 0:00                1048575 non-null  object
 3   -18.87399999                 1048575 non-null  float64
 4   Unnamed: 4                   110264 non-null   float64
 5   FALSE                        221046 non-null   object
dtypes: float64(2), object(4)
memory usage: 56.0+ MB

In [44]:
#Sorted index
df_2020.sort_index(inplace=True)

In [46]:
test_Q1_2020 = df_2020.loc['2020-01-01':'2020-03-31']
test_Q1_2020.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 444951 entries, 2020-01-01 00:00:00 to 2020-03-31 23:55:00
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Turb Exh Ref Temp Deviation  444951 non-null  object
 1   FR.FR.C0000184               444951 non-null  object
 2   1/1/2020 0:00                444951 non-null  object
 3   -18.87399999                 444951 non-null  float64
 4   Unnamed: 4                   48460 non-null   float64
 5   FALSE                        140592 non-null  object
dtypes: float64(2), object(4)
memory usage: 23.8+ MB

In [62]:
# Picked out only non-null values in value column
Reading = pd.notnull(test_Q1_2020['Unnamed: 4'])
test_Q1_2020[Reading]

,Turb Exh Ref Temp Deviation,FR.FR.C0000184,1/1/2020 0:00,-18.87399999,Unnamed: 4,FALSE
DateTime,,,,,,
2020-01-01 00:00:00,Fuel Gas Energy Flow Ref,POD.MODEL.00040142,1/1/2020 0:00,1774.426690,34.442643,True
2020-01-01 00:00:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2020 0:00,161.706333,-4.922416,True
2020-01-01 00:00:00,Fuel Gas Energy Flow - KPI,FR.FR.C0000185,1/1/2020 0:00,1776.225570,-10.113526,False
2020-01-01 00:00:00,Comp Inlet Temp,FR.FR.00005473,1/1/2020 0:00,55.671524,0.000000,False
2020-01-01 00:05:00,Fuel Gas Energy Flow - KPI,FR.FR.C0000185,1/1/2020 0:05,1771.091010,0.975171,False
...,...,...,...,...,...,...
2020-02-21 23:10:00,Gross Power Output - KPI,FR.FR.C0000173,2/21/2020 23:10,161.732000,-4.387472,True
2020-02-21 23:15:00,Fuel Gas Energy Flow - KPI,FR.FR.C0000185,2/21/2020 23:15,1779.981598,-1.574119,False
2020-02-21 23:15:00,Comp Inlet Temp,FR.FR.00005473,2/21/2020 23:15,50.086403,0.000000,False
2020-02-21 23:15:00,Gross Power Output - KPI,FR.FR.C0000173,2/21/2020 23:15,160.977400,-4.355206,True
2020-02-21 23:15:00,Fuel Gas Energy Flow Ref,POD.MODEL.00040142,2/21/2020 23:15,1779.153810,37.820373,True

In [ ]:
# Put into dataframe, changed column name
test_Q1_2020_GPO_only = pd.DataFrame(test_Q1_2020[Reading])
test_Q1_2020_GPO_only.rename(columns = {'Unnamed: 4' : 'Reading'}, inplace=True)

In [69]:
test_Q1_2020_GPO_only.head()

,Turb Exh Ref Temp Deviation,FR.FR.C0000184,1/1/2020 0:00,-18.87399999,Reading,FALSE
DateTime,,,,,,
2020-01-01 00:00:00,Fuel Gas Energy Flow Ref,POD.MODEL.00040142,1/1/2020 0:00,1774.426690,34.442643,True
2020-01-01 00:00:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2020 0:00,161.706333,-4.922416,True
2020-01-01 00:00:00,Fuel Gas Energy Flow - KPI,FR.FR.C0000185,1/1/2020 0:00,1776.225570,-10.113526,False
2020-01-01 00:00:00,Comp Inlet Temp,FR.FR.00005473,1/1/2020 0:00,55.671524,0.000000,False
2020-01-01 00:05:00,Fuel Gas Energy Flow - KPI,FR.FR.C0000185,1/1/2020 0:05,1771.091010,0.975171,False

In [71]:
# Kept only rows with metric I was studying
Q1_2020_testing = test_Q1_2020_GPO_only[test_Q1_2020_GPO_only['Turb Exh Ref Temp Deviation'].isin(['Gross Power Output - KPI'])]
Q1_2020_testing.head()

,Turb Exh Ref Temp Deviation,FR.FR.C0000184,1/1/2020 0:00,-18.87399999,Reading,FALSE
DateTime,,,,,,
2020-01-01 00:00:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2020 0:00,161.706333,-4.922416,True
2020-01-01 00:05:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2020 0:05,161.356533,-3.670565,True
2020-01-01 00:10:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2020 0:10,161.226000,-4.164237,True
2020-01-01 00:15:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2020 0:15,161.226000,-4.294771,True
2020-01-01 00:20:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2020 0:20,161.323533,-4.294771,True

In [94]:
#Dropped all irrelevant columns
Q1_2020_testing.drop(['FR.FR.C0000184','1/1/2020 0:00','-18.87399999','FALSE'],axis=1, inplace=True)
Q1_2020_testing.head()

C:\Users\cjmartin\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                    Turb Exh Ref Temp Deviation   Reading
DateTime
2020-01-01 00:00:00    Gross Power Output - KPI -4.922416
2020-01-01 00:05:00    Gross Power Output - KPI -3.670565
2020-01-01 00:10:00    Gross Power Output - KPI -4.164237
2020-01-01 00:15:00    Gross Power Output - KPI -4.294771
2020-01-01 00:20:00    Gross Power Output - KPI -4.294771

In [140]:
Q1_2020_testing.tail()

                                          GPO   Reading
DateTime
2020-02-21 14:00:00  Gross Power Output - KPI  1.373594
2020-02-21 23:00:00  Gross Power Output - KPI -4.581072
2020-02-21 23:05:00  Gross Power Output - KPI -4.326606
2020-02-21 23:10:00  Gross Power Output - KPI -4.387472
2020-02-21 23:15:00  Gross Power Output - KPI -4.355206

In [139]:
Q1_2020_testing.to_csv('Calpine Data/test_2020.csv')

In [ ]:
#load 2019 data

In [80]:
df_2019 = pd.read_csv('Calpine Data/Freestone_CTG1_2019.csv')
df_2019.head()

,Fuel Stroke Ref - Temp Control,FR.FR.00005539,2019-01-01 00:50:00,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Fuel Stroke Ref - Temp Control,FR.FR.00005539,2019-01-01 00:55:00,NaN,NaN,NaN
1,Stg1WhlSpcTemp,FR.FR.00005601,2019-01-01 00:55:00,NaN,NaN,NaN
2,Fuel Stroke Ref,FR.FR.00005522,2019-01-01 00:40:00,NaN,NaN,NaN
3,Fuel Stroke Ref,FR.FR.00005522,2019-01-01 00:45:00,NaN,NaN,NaN
4,Fuel Stroke Ref,FR.FR.00005522,2019-01-01 00:50:00,NaN,NaN,NaN

In [78]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2016178 entries, NaT to 1970-01-01 00:00:00.000000031
Data columns (total 6 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Fuel Stroke Ref - Temp Control  object
 1   FR.FR.00005539                  object
 2   2019-01-01 00:50:00             object
 3   Unnamed: 3                      float64
 4   Unnamed: 4                      float64
 5   Unnamed: 5                      object
dtypes: float64(2), object(4)
memory usage: 107.7+ MB

In [81]:
df_2019['DateTime'] = pd.to_datetime(df_2019['2019-01-01 00:50:00'])

In [82]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016178 entries, 0 to 2016177
Data columns (total 7 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Fuel Stroke Ref - Temp Control  object
 1   FR.FR.00005539                  object
 2   2019-01-01 00:50:00             object
 3   Unnamed: 3                      float64
 4   Unnamed: 4                      float64
 5   Unnamed: 5                      object
 6   DateTime                        datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 107.7+ MB

In [83]:
df_2019.set_index(['DateTime'], inplace=True)
df_2019.head()

,Fuel Stroke Ref - Temp Control,FR.FR.00005539,2019-01-01 00:50:00,Unnamed: 3,Unnamed: 4,Unnamed: 5
DateTime,,,,,,
2019-01-01 00:55:00,Fuel Stroke Ref - Temp Control,FR.FR.00005539,2019-01-01 00:55:00,NaN,NaN,NaN
2019-01-01 00:55:00,Stg1WhlSpcTemp,FR.FR.00005601,2019-01-01 00:55:00,NaN,NaN,NaN
2019-01-01 00:40:00,Fuel Stroke Ref,FR.FR.00005522,2019-01-01 00:40:00,NaN,NaN,NaN
2019-01-01 00:45:00,Fuel Stroke Ref,FR.FR.00005522,2019-01-01 00:45:00,NaN,NaN,NaN
2019-01-01 00:50:00,Fuel Stroke Ref,FR.FR.00005522,2019-01-01 00:50:00,NaN,NaN,NaN

In [84]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2016178 entries, 2019-01-01 00:55:00 to 2019-12-29 19:35:00
Data columns (total 6 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Fuel Stroke Ref - Temp Control  object
 1   FR.FR.00005539                  object
 2   2019-01-01 00:50:00             object
 3   Unnamed: 3                      float64
 4   Unnamed: 4                      float64
 5   Unnamed: 5                      object
dtypes: float64(2), object(4)
memory usage: 107.7+ MB

In [85]:
df_2019.sort_index(inplace=True)

In [87]:
Reading = pd.notnull(df_2019['Unnamed: 3'])
df_2019[Reading]

,Fuel Stroke Ref - Temp Control,FR.FR.00005539,2019-01-01 00:50:00,Unnamed: 3,Unnamed: 4,Unnamed: 5
DateTime,,,,,,
2019-01-01 00:00:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:00:00,159.612667,NaN,NaN
2019-01-01 00:05:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:05:00,159.620000,NaN,NaN
2019-01-01 00:10:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:10:00,159.523933,NaN,NaN
2019-01-01 00:15:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:15:00,159.476267,NaN,NaN
2019-01-01 00:20:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:20:00,159.488000,NaN,NaN
...,...,...,...,...,...,...
2019-12-31 23:55:00,Fuel Gas Energy Flow - KPI,FR.FR.C0000185,2019-12-31 23:55:00,1773.493040,-13.764004,False
2019-12-31 23:55:00,Gross Heat Rate - KPI,FR.FR.C0000190,2019-12-31 23:55:00,10983.846300,NaN,NaN
2019-12-31 23:55:00,Fuel Stroke Ref - Temp Control,FR.FR.00005539,2019-12-31 23:55:00,78.055995,NaN,NaN
2019-12-31 23:55:00,Turb Exh Ref Temp Deviation,FR.FR.C0000184,2019-12-31 23:55:00,-16.397000,NaN,False
2019-12-31 23:55:00,Comp Disch Press,FR.FR.00005453,2019-12-31 23:55:00,217.182004,NaN,NaN

In [88]:
test_Q1_2019 = pd.DataFrame(df_2019[Reading])
test_Q1_2019.rename(columns = {'Unnamed: 3' : 'Reading'}, inplace=True)

In [89]:
test_Q1_2019.head()

,Fuel Stroke Ref - Temp Control,FR.FR.00005539,2019-01-01 00:50:00,Reading,Unnamed: 4,Unnamed: 5
DateTime,,,,,,
2019-01-01 00:00:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:00:00,159.612667,NaN,NaN
2019-01-01 00:05:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:05:00,159.620000,NaN,NaN
2019-01-01 00:10:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:10:00,159.523933,NaN,NaN
2019-01-01 00:15:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:15:00,159.476267,NaN,NaN
2019-01-01 00:20:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:20:00,159.488000,NaN,NaN

In [90]:
Q1_2019 = test_Q1_2019[test_Q1_2019['Fuel Stroke Ref - Temp Control'].isin(['Gross Power Output - KPI'])]
Q1_2019.head()

,Fuel Stroke Ref - Temp Control,FR.FR.00005539,2019-01-01 00:50:00,Reading,Unnamed: 4,Unnamed: 5
DateTime,,,,,,
2019-01-01 00:00:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:00:00,159.612667,NaN,NaN
2019-01-01 00:05:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:05:00,159.620000,NaN,NaN
2019-01-01 00:10:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:10:00,159.523933,NaN,NaN
2019-01-01 00:15:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:15:00,159.476267,NaN,NaN
2019-01-01 00:20:00,Gross Power Output - KPI,FR.FR.C0000173,2019-01-01 00:20:00,159.488000,NaN,NaN

In [93]:
Q1_2019.drop(['FR.FR.00005539','2019-01-01 00:50:00','Unnamed: 4','Unnamed: 5'],axis=1, inplace=True)
Q1_2019.head()

C:\Users\cjmartin\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                    Fuel Stroke Ref - Temp Control     Reading
DateTime
2019-01-01 00:00:00       Gross Power Output - KPI  159.612667
2019-01-01 00:05:00       Gross Power Output - KPI  159.620000
2019-01-01 00:10:00       Gross Power Output - KPI  159.523933
2019-01-01 00:15:00       Gross Power Output - KPI  159.476267
2019-01-01 00:20:00       Gross Power Output - KPI  159.488000

In [ ]:
#load 2018 data

In [95]:
df_2018 = pd.read_csv('Calpine Data/Freestone_CTG1_2018.csv')
df_2018.head()

  Fuel Stroke Ref - Temp Control  FR.FR.00005539  1/1/2018 0:00  Unnamed: 3
0          ZZZ - MW (TMST input)  FR.FR.00000700  1/1/2018 0:00         NaN
1                           FSRN  FR.FR.00005532  1/1/2018 0:00         NaN
2                           TTRF  FR.FR.00005595  1/1/2018 0:00         NaN
3                    Speed - Raw  FR.FR.00003693  1/1/2018 0:00         NaN
4                     StmInjFlow  FR.FR.00000677  1/1/2018 0:00         NaN

In [96]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   Fuel Stroke Ref - Temp Control  1048575 non-null  object
 1   FR.FR.00005539                  1048575 non-null  object
 2   1/1/2018 0:00                   1048575 non-null  object
 3   Unnamed: 3                      80709 non-null    float64
dtypes: float64(1), object(3)
memory usage: 32.0+ MB

In [97]:
df_2018['DateTime'] = pd.to_datetime(df_2018['1/1/2018 0:00'])

In [98]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   Fuel Stroke Ref - Temp Control  1048575 non-null  object
 1   FR.FR.00005539                  1048575 non-null  object
 2   1/1/2018 0:00                   1048575 non-null  object
 3   Unnamed: 3                      80709 non-null    float64
 4   DateTime                        1048575 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 40.0+ MB

In [99]:
df_2018.set_index(['DateTime'], inplace=True)
df_2018.head()

,Fuel Stroke Ref - Temp Control,FR.FR.00005539,1/1/2018 0:00,Unnamed: 3
DateTime,,,,
2018-01-01,ZZZ - MW (TMST input),FR.FR.00000700,1/1/2018 0:00,NaN
2018-01-01,FSRN,FR.FR.00005532,1/1/2018 0:00,NaN
2018-01-01,TTRF,FR.FR.00005595,1/1/2018 0:00,NaN
2018-01-01,Speed - Raw,FR.FR.00003693,1/1/2018 0:00,NaN
2018-01-01,StmInjFlow,FR.FR.00000677,1/1/2018 0:00,NaN

In [100]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1048575 entries, 2018-01-01 00:00:00 to 2018-10-10 02:55:00
Data columns (total 4 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   Fuel Stroke Ref - Temp Control  1048575 non-null  object
 1   FR.FR.00005539                  1048575 non-null  object
 2   1/1/2018 0:00                   1048575 non-null  object
 3   Unnamed: 3                      80709 non-null    float64
dtypes: float64(1), object(3)
memory usage: 40.0+ MB

In [101]:
df_2018.sort_index(inplace=True)

In [102]:
Reading = pd.notnull(df_2018['Unnamed: 3'])
df_2018[Reading]

,Fuel Stroke Ref - Temp Control,FR.FR.00005539,1/1/2018 0:00,Unnamed: 3
DateTime,,,,
2018-01-01 00:00:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:00,147.615333
2018-01-01 00:05:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:05,147.683533
2018-01-01 00:10:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:10,147.682067
2018-01-01 00:15:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:15,147.493600
2018-01-01 00:20:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:20,147.586000
...,...,...,...,...
2018-10-10 01:35:00,Gross Power Output - KPI,FR.FR.C0000173,10/10/2018 1:35,0.000000
2018-10-10 01:40:00,Gross Power Output - KPI,FR.FR.C0000173,10/10/2018 1:40,0.000000
2018-10-10 01:45:00,Gross Power Output - KPI,FR.FR.C0000173,10/10/2018 1:45,0.000000
2018-10-10 01:50:00,Gross Power Output - KPI,FR.FR.C0000173,10/10/2018 1:50,0.000000
2018-10-10 01:55:00,Gross Power Output - KPI,FR.FR.C0000173,10/10/2018 1:55,0.000000

In [103]:
test_Q1_2018 = pd.DataFrame(df_2018[Reading])
test_Q1_2018.rename(columns = {'Unnamed: 3' : 'Reading'}, inplace=True)

In [104]:
test_Q1_2018.head()

,Fuel Stroke Ref - Temp Control,FR.FR.00005539,1/1/2018 0:00,Reading
DateTime,,,,
2018-01-01 00:00:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:00,147.615333
2018-01-01 00:05:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:05,147.683533
2018-01-01 00:10:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:10,147.682067
2018-01-01 00:15:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:15,147.493600
2018-01-01 00:20:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:20,147.586000

In [105]:
Q1_2018 = test_Q1_2018[test_Q1_2018['Fuel Stroke Ref - Temp Control'].isin(['Gross Power Output - KPI'])]
Q1_2018.head()

,Fuel Stroke Ref - Temp Control,FR.FR.00005539,1/1/2018 0:00,Reading
DateTime,,,,
2018-01-01 00:00:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:00,147.615333
2018-01-01 00:05:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:05,147.683533
2018-01-01 00:10:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:10,147.682067
2018-01-01 00:15:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:15,147.493600
2018-01-01 00:20:00,Gross Power Output - KPI,FR.FR.C0000173,1/1/2018 0:20,147.586000

In [106]:
Q1_2018.drop(['FR.FR.00005539','1/1/2018 0:00'],axis=1, inplace=True)
Q1_2018.head()

                    Fuel Stroke Ref - Temp Control     Reading
DateTime
2018-01-01 00:00:00       Gross Power Output - KPI  147.615333
2018-01-01 00:05:00       Gross Power Output - KPI  147.683533
2018-01-01 00:10:00       Gross Power Output - KPI  147.682067
2018-01-01 00:15:00       Gross Power Output - KPI  147.493600
2018-01-01 00:20:00       Gross Power Output - KPI  147.586000

In [107]:
# load 2017 data

In [108]:
df_2017 = pd.read_csv('Calpine Data/Freestone_CTG1_2017.csv')
df_2017.head()

   1/1/2017 0:00                 Fuel Stroke Ref  FR.FR.00005522  Unnamed: 3
0  1/1/2017 0:00           ZZZ - MW (TMST input)  FR.FR.00000700         NaN
1  1/1/2017 0:00                     Speed - Raw  FR.FR.00003693         NaN
2  1/1/2017 0:00  Fuel Stroke Ref - Temp Control  FR.FR.00005539         NaN
3  1/1/2017 0:00                            FSRN  FR.FR.00005532         NaN
4  1/1/2017 0:00                   PeakIndicator  FR.FR.00006358         NaN

In [109]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   1/1/2017 0:00    1048575 non-null  object
 1   Fuel Stroke Ref  1048575 non-null  object
 2   FR.FR.00005522   1048575 non-null  object
 3   Unnamed: 3       80674 non-null    float64
dtypes: float64(1), object(3)
memory usage: 32.0+ MB

In [111]:
df_2017['DateTime'] = pd.to_datetime(df_2017['1/1/2017 0:00'])

In [112]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   1/1/2017 0:00    1048575 non-null  object
 1   Fuel Stroke Ref  1048575 non-null  object
 2   FR.FR.00005522   1048575 non-null  object
 3   Unnamed: 3       80674 non-null    float64
 4   DateTime         1048575 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 40.0+ MB

In [113]:
df_2017.set_index(['DateTime'], inplace=True)
df_2017.head()

,1/1/2017 0:00,Fuel Stroke Ref,FR.FR.00005522,Unnamed: 3
DateTime,,,,
2017-01-01,1/1/2017 0:00,ZZZ - MW (TMST input),FR.FR.00000700,NaN
2017-01-01,1/1/2017 0:00,Speed - Raw,FR.FR.00003693,NaN
2017-01-01,1/1/2017 0:00,Fuel Stroke Ref - Temp Control,FR.FR.00005539,NaN
2017-01-01,1/1/2017 0:00,FSRN,FR.FR.00005532,NaN
2017-01-01,1/1/2017 0:00,PeakIndicator,FR.FR.00006358,NaN

In [114]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1048575 entries, 2017-01-01 00:00:00 to 2017-10-09 00:00:00
Data columns (total 4 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   1/1/2017 0:00    1048575 non-null  object
 1   Fuel Stroke Ref  1048575 non-null  object
 2   FR.FR.00005522   1048575 non-null  object
 3   Unnamed: 3       80674 non-null    float64
dtypes: float64(1), object(3)
memory usage: 40.0+ MB

In [115]:
df_2017.sort_index(inplace=True)

In [116]:
Reading = pd.notnull(df_2017['Unnamed: 3'])
df_2017[Reading]

,1/1/2017 0:00,Fuel Stroke Ref,FR.FR.00005522,Unnamed: 3
DateTime,,,,
2017-01-01 00:00:00,1/1/2017 0:00,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:05:00,1/1/2017 0:05,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:10:00,1/1/2017 0:10,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:15:00,1/1/2017 0:15,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:20:00,1/1/2017 0:20,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
...,...,...,...,...
2017-10-08 16:35:00,10/8/2017 16:35,Gross Power Output - KPI,FR.FR.C0000173,0.000000e+00
2017-10-08 16:40:00,10/8/2017 16:40,Gross Power Output - KPI,FR.FR.C0000173,0.000000e+00
2017-10-08 16:45:00,10/8/2017 16:45,Gross Power Output - KPI,FR.FR.C0000173,0.000000e+00
2017-10-08 16:50:00,10/8/2017 16:50,Gross Power Output - KPI,FR.FR.C0000173,0.000000e+00
2017-10-08 16:55:00,10/8/2017 16:55,Gross Power Output - KPI,FR.FR.C0000173,0.000000e+00

In [117]:
test_Q1_2017 = pd.DataFrame(df_2017[Reading])
test_Q1_2017.rename(columns = {'Unnamed: 3' : 'Reading'}, inplace=True)

In [118]:
test_Q1_2017.head()

,1/1/2017 0:00,Fuel Stroke Ref,FR.FR.00005522,Reading
DateTime,,,,
2017-01-01 00:00:00,1/1/2017 0:00,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:05:00,1/1/2017 0:05,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:10:00,1/1/2017 0:10,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:15:00,1/1/2017 0:15,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:20:00,1/1/2017 0:20,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07

In [119]:
Q1_2017 = test_Q1_2017[test_Q1_2017['Fuel Stroke Ref'].isin(['Gross Power Output - KPI'])]
Q1_2017.head()

,1/1/2017 0:00,Fuel Stroke Ref,FR.FR.00005522,Reading
DateTime,,,,
2017-01-01 00:00:00,1/1/2017 0:00,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:05:00,1/1/2017 0:05,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:10:00,1/1/2017 0:10,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:15:00,1/1/2017 0:15,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07
2017-01-01 00:20:00,1/1/2017 0:20,Gross Power Output - KPI,FR.FR.C0000173,1.600000e-07

In [120]:
Q1_2017.drop(['FR.FR.00005522','1/1/2017 0:00'],axis=1, inplace=True)
Q1_2017.head()

                              Fuel Stroke Ref       Reading
DateTime
2017-01-01 00:00:00  Gross Power Output - KPI  1.600000e-07
2017-01-01 00:05:00  Gross Power Output - KPI  1.600000e-07
2017-01-01 00:10:00  Gross Power Output - KPI  1.600000e-07
2017-01-01 00:15:00  Gross Power Output - KPI  1.600000e-07
2017-01-01 00:20:00  Gross Power Output - KPI  1.600000e-07

In [121]:
#renamed columns GPO
Q1_2017.rename(columns = {'Fuel Stroke Ref' : 'GPO'}, inplace=True)

In [122]:
Q1_2017.head()

                                          GPO       Reading
DateTime
2017-01-01 00:00:00  Gross Power Output - KPI  1.600000e-07
2017-01-01 00:05:00  Gross Power Output - KPI  1.600000e-07
2017-01-01 00:10:00  Gross Power Output - KPI  1.600000e-07
2017-01-01 00:15:00  Gross Power Output - KPI  1.600000e-07
2017-01-01 00:20:00  Gross Power Output - KPI  1.600000e-07

In [123]:
Q1_2018.rename(columns = {'Fuel Stroke Ref - Temp Control' : 'GPO'}, inplace=True)
Q1_2018.head()

                                          GPO     Reading
DateTime
2018-01-01 00:00:00  Gross Power Output - KPI  147.615333
2018-01-01 00:05:00  Gross Power Output - KPI  147.683533
2018-01-01 00:10:00  Gross Power Output - KPI  147.682067
2018-01-01 00:15:00  Gross Power Output - KPI  147.493600
2018-01-01 00:20:00  Gross Power Output - KPI  147.586000

In [126]:
Q1_2020_testing.rename(columns = {'Turb Exh Ref Temp Deviation' : 'GPO'}, inplace=True)
Q1_2020_testing.head()

C:\Users\cjmartin\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                                          GPO   Reading
DateTime
2020-01-01 00:00:00  Gross Power Output - KPI -4.922416
2020-01-01 00:05:00  Gross Power Output - KPI -3.670565
2020-01-01 00:10:00  Gross Power Output - KPI -4.164237
2020-01-01 00:15:00  Gross Power Output - KPI -4.294771
2020-01-01 00:20:00  Gross Power Output - KPI -4.294771

In [128]:
Q1_2019.rename(columns = {'Fuel Stroke Ref - Temp Control' : 'GPO'}, inplace=True)
Q1_2019.head()

C:\Users\cjmartin\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                                          GPO     Reading
DateTime
2019-01-01 00:00:00  Gross Power Output - KPI  159.612667
2019-01-01 00:05:00  Gross Power Output - KPI  159.620000
2019-01-01 00:10:00  Gross Power Output - KPI  159.523933
2019-01-01 00:15:00  Gross Power Output - KPI  159.476267
2019-01-01 00:20:00  Gross Power Output - KPI  159.488000

In [130]:
comb = pd.concat([Q1_2017,Q1_2018,Q1_2019])

In [131]:
comb.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 266503 entries, 2017-01-01 00:00:00 to 2019-12-31 23:55:00
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   GPO      266503 non-null  object
 1   Reading  266503 non-null  float64
dtypes: float64(1), object(1)
memory usage: 6.1+ MB

In [132]:
comb['GPO'].unique()

array(['Gross Power Output - KPI'], dtype=object)

In [136]:
type(comb)

pandas.core.frame.DataFrame

In [138]:
comb.to_csv('Calpine Data/GPO_data.csv')